*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;    
}
a{
    text-decoration: none;
    color: blueviolet;
}
header{
    background-color: aliceblue;    
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;    
}
nav div h1{
    padding: 2rem;
}
.nav-links-ul{
    display: flex  ;
    column-gap: 1.2em;  
    padding: 2rem 3rem 1rem 0rem;      
}
main{
    padding-bottom: 3rem;
}
/* MAIN STYLING */
/* 1. Hero section styling */
#hero{
    background-color: rgba(0, 0, 255, 0.642);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero h1{
    font-size: 1.6rem;
    text-align: center;
}
#hero p{
    padding-top: 3rem;
    text-align: center;
}

/* about me styling */
#about{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.about-description{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* education section styling */

#education{
    background-color: aliceblue;
    padding: 2rem;
}
#education h2{
    padding-bottom: 0.5rem;
}
.education-description{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
}
.cv-btn{
    background-color: rgb(24, 24, 24);
    color: white;    
    padding: 1rem;
    border-radius: 0.6rem;    
}

/* projects styling */
#Projects{
    display: flex;
    flex-direction:column ;  
    align-items: center; 
    justify-content: center;
    margin-top: 3rem;
}
.projects-container{
    margin: 1rem auto;
    padding-left: 1rem;}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    border-radius: 0.8rem;
    row-gap: 0.8rem;
    box-shadow: 0px 0px 2px gray;
}
.project-card h4{
    padding-top: 0.2rem;
}
.project-card img{
    border-radius: 0.8rem;
}
.project-card p{
    padding: 0rem 0.5rem;
}
.project-card a{
    color: black;
    padding: 0.8rem 1.2rem;
    margin-bottom: 0.8rem;
    background-color: rgb(16, 123, 217);
    border-radius: 0.6rem;
}

#interests{
    margin-top: 3rem;
    background-color: aliceblue;
    padding: 2rem;
}
#interests h2{
    padding-bottom: 0.3rem;
}
.fun-facts-cont h4{
    padding-bottom: 0.2rem;
}
ol {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}
.tech-interests{
    padding-top: 0.8rem;
}

#contact{
    margin-top: 3rem;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    padding-top: 2rem;
}
form div{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
    align-items: start;
    padding-left: 2rem;
    row-gap: 0.2rem;   
}
form button{
    background-color: rgba(0, 0, 255, 0.888);
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    offset: none;
    margin: 0rem auto;
}
.name{
    display: flex;
    row-gap: 0.4rem;
}
input{
    height: 2.2rem;
    color: black;
    padding-left: 0.8rem;
    outline: none;
    font-size: 1.1rem;
    border-radius: 0.4rem;
}
.email label{
    display: flex;
    row-gap: 0.4rem;
}
textarea{
    padding-left: 0.6rem;
    font-size: 1.2rem;
    border: 2px solid black;
}
footer{
    display: flex;
    justify-content: center;
    background-color: gray;
    color: white;
    padding: 2.5rem 0.5rem;
}
@media (max-width: 480px) {
    nav{
        display: flex;
        flex-direction: column;
        align-items: start;
        column-gap: 0rem;
    }
    nav div h1{
        padding: 0.8rem 0rem 0rem 0rem ;
    }
    .nav-links-ul{
        display: flex  ;
        column-gap: 0.6rem;  
        padding: 0.3rem;    
    }
  }